In [107]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.externals import joblib 
import pickle

In [108]:
cd "C:/Users/Iconsense/abhishek/taxi"

C:\Users\Iconsense\abhishek\taxi

In [109]:
rf = joblib.load('filename.pkl')

In [110]:
df = pd.read_csv('dataset_final.csv')

In [111]:
df

,trip_start_timestamp,pickup_community_area,Trips,temperature,relative_humidity,wind_direction,wind_speed,precipitation,daytype,sky_level,...,pickup_community_area.1,Day Name,Month,Hour,Quarter,Fare Last Month,Tips Last Month,Trips Last Hour,Trips Last Week (Same Hour),Trips 2 Weeks Ago (Same Hour)
0,2017-01-16 00:00:00,1,1,30.0,78.40,130.0,4.0,0.00,U,OVC,...,1,Monday,1,0,1,32055.00,1485.59,7,4,2
1,2017-01-16 00:00:00,2,0,30.0,78.40,130.0,4.0,0.00,U,OVC,...,2,Monday,1,0,1,36413.10,1224.73,1,3,2
2,2017-01-16 00:00:00,3,4,30.0,78.40,130.0,4.0,0.00,U,OVC,...,3,Monday,1,0,1,65230.40,3568.52,8,3,4
3,2017-01-16 00:00:00,4,3,30.0,78.40,130.0,4.0,0.00,U,OVC,...,4,Monday,1,0,1,46732.45,2536.66,0,5,3
4,2017-01-16 00:00:00,5,2,30.0,78.40,130.0,4.0,0.00,U,OVC,...,5,Monday,1,0,1,33088.75,1832.27,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920144,2019-12-01 00:00:00,73,0,39.9,96.55,140.0,7.0,1.78,U,OVC,...,73,Sunday,12,0,4,0.00,0.00,0,0,0
1920145,2019-12-01 00:00:00,74,0,39.9,96.55,140.0,7.0,1.78,U,OVC,...,74,Sunday,12,0,4,0.00,0.00,0,0,0
1920146,2019-12-01 00:00:00,75,0,39.9,96.55,140.0,7.0,1.78,U,OVC,...,75,Sunday,12,0,4,0.00,0.00,0,0,0
1920147,2019-12-01 00:00:00,76,16,39.9,96.55,140.0,7.0,1.78,U,OVC,...,76,Sunday,12,0,4,628.25,55.63,54,3,6
1920148,2019-12-01 00:00:00,77,0,39.9,96.55,140.0,7.0,1.78,U,OVC,...,77,Sunday,12,0,4,0.00,0.00,3,3,1

In [112]:
df.drop(columns=['trip_start_timestamp.1','pickup_community_area.1'],inplace=True)

In [113]:
row=[]
for i in range(77):
    row.append([ "2017-01-16 00:00:00",i, 1,30.4,50,220,30,2,'A','OVC','Friday',1,0,1,0.0,0.0,0,0,0] )

In [114]:
df2 = pd.DataFrame(row, columns = df.columns)

In [115]:
df.append(df2)

,trip_start_timestamp,pickup_community_area,Trips,temperature,relative_humidity,wind_direction,wind_speed,precipitation,daytype,sky_level,Day Name,Month,Hour,Quarter,Fare Last Month,Tips Last Month,Trips Last Hour,Trips Last Week (Same Hour),Trips 2 Weeks Ago (Same Hour)
0,2017-01-16 00:00:00,1,1,30.0,78.4,130.0,4.0,0.0,U,OVC,Monday,1,0,1,32055.00,1485.59,7,4,2
1,2017-01-16 00:00:00,2,0,30.0,78.4,130.0,4.0,0.0,U,OVC,Monday,1,0,1,36413.10,1224.73,1,3,2
2,2017-01-16 00:00:00,3,4,30.0,78.4,130.0,4.0,0.0,U,OVC,Monday,1,0,1,65230.40,3568.52,8,3,4
3,2017-01-16 00:00:00,4,3,30.0,78.4,130.0,4.0,0.0,U,OVC,Monday,1,0,1,46732.45,2536.66,0,5,3
4,2017-01-16 00:00:00,5,2,30.0,78.4,130.0,4.0,0.0,U,OVC,Monday,1,0,1,33088.75,1832.27,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2017-01-16 00:00:00,72,1,30.4,50.0,220.0,30.0,2.0,A,OVC,Friday,1,0,1,0.00,0.00,0,0,0
73,2017-01-16 00:00:00,73,1,30.4,50.0,220.0,30.0,2.0,A,OVC,Friday,1,0,1,0.00,0.00,0,0,0
74,2017-01-16 00:00:00,74,1,30.4,50.0,220.0,30.0,2.0,A,OVC,Friday,1,0,1,0.00,0.00,0,0,0
75,2017-01-16 00:00:00,75,1,30.4,50.0,220.0,30.0,2.0,A,OVC,Friday,1,0,1,0.00,0.00,0,0,0
76,2017-01-16 00:00:00,76,1,30.4,50.0,220.0,30.0,2.0,A,OVC,Friday,1,0,1,0.00,0.00,0,0,0

In [116]:
df['trip_start_timestamp'] = pd.to_datetime(df['trip_start_timestamp'])

df['weekofyear']=df['trip_start_timestamp'].dt.weekofyear

df['day'] = df['trip_start_timestamp'].dt.day

df['year'] = df['trip_start_timestamp'].dt.year

In [117]:
df.drop(columns=['trip_start_timestamp'],inplace=True)

In [118]:
categorical_cols = ['pickup_community_area','day',
            'weekofyear','Quarter','Hour','Month','Day Name','sky_level','daytype']


numerical_cols =['Trips','year' 'temperature', 'relative_humidity','wind_direction','wind_speed','precipitation','Fare Last Month',
            'Tips Last Month','Trips Last Hour','Trips Last Week (Same Hour)','Trips 2 Weeks Ago (Same Hour)']

df[categorical_cols] = df[categorical_cols].apply(pd.Categorical)

In [119]:
df['sky_level']=df['sky_level'].map({'CLR':0, 'FEW':1, 'SCT':2, 'BKN':3, 'OVC': 4})

In [120]:
df.fillna(df.median(),inplace=True)

In [121]:
df=pd.get_dummies(df, columns=['pickup_community_area','day','weekofyear','Quarter','Hour','Month','Day Name','daytype'],drop_first=True)

In [122]:
float64=['sky_level','Fare Last Month','Tips Last Month','temperature','relative_humidity','wind_direction','wind_speed','precipitation']

df3[float64]=df3[float64].astype('float32')

In [123]:
y=df['Trips'].iloc[:77]

In [124]:
x=df.drop(columns='Trips',axis=1)

x=x.iloc[:77]

In [125]:
x = np.array(x)

y = np.array(y)

In [126]:
predict=rf.predict(x)

[Parallel(n_jobs=20)]: Using backend ThreadingBackend with 20 concurrent workers.
[Parallel(n_jobs=20)]: Done  58 tasks      | elapsed:    0.0s
[Parallel(n_jobs=20)]: Done  87 out of 100 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=20)]: Done 100 out of 100 | elapsed:    0.0s finished

array([2.44402814e+00, 1.55488997e+00, 4.51706205e+00, 3.40370274e+00,
       1.92326948e+00, 3.07440386e+01, 1.21842183e+01, 5.05712330e+01,
       6.94444444e-03, 1.35309524e-01, 9.56940892e-01, 9.26544012e-02,
       2.55381313e-01, 2.86763217e+00, 1.02176435e+00, 1.20507395e+00,
       1.07777778e-01, 1.13888889e-02, 2.88904762e-01, 5.37738095e-02,
       1.73918254e+00, 6.54181094e+00, 5.15389971e-01, 1.14253860e+01,
       1.76519841e-01, 4.16666667e-03, 8.25357143e-02, 8.15587662e+00,
       6.44523810e-02, 6.53333333e-02, 8.70412338e-01, 9.96007753e+00,
       1.58679545e+00, 3.62297619e-01, 1.77472222e-01, 3.33333333e-03,
       0.00000000e+00, 1.58333333e-02, 3.86301227e-01, 8.33333333e-03,
       7.29688645e-02, 3.22619048e-02, 1.93362193e-01, 3.80216450e-02,
       3.83412698e-02, 2.65000000e-02, 3.33333333e-03, 4.85714286e-03,
       1.30079365e-02, 6.00000000e-03, 4.56309524e-02, 1.47500000e-02,
       2.20757576e-02, 0.00000000e+00, 0.00000000e+00, 3.39408730e+00,
       3.33333333e-03, 5.33333333e-03, 3.94927850e-02, 6.51071429e-02,
       8.50000000e-03, 7.75000000e-03, 5.00000000e-03, 7.85714286e-03,
       0.00000000e+00, 2.37807720e-01, 8.40909091e-03, 6.72146465e-02,
       4.93333333e-02, 6.15079365e-03, 5.74761905e-02, 3.12460317e-02,
       4.59209957e-02, 0.00000000e+00, 6.50757576e-02, 9.59622150e+00,
       4.69253571e+00])

In [127]:
predict.astype(int)

array([ 2,  1,  4,  3,  1, 30, 12, 50,  0,  0,  0,  0,  0,  2,  1,  1,  0,
        0,  0,  0,  1,  6,  0, 11,  0,  0,  0,  8,  0,  0,  0,  9,  1,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  9,  4])