# CS 584: Machine Learning"
### Alexis Gaziello

# Assignement 3

Import necessary libraries and initialization of some variables

In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

data = pandas.read_csv('claim_history.csv', delimiter=',')
display(data)


#data_train, data_test = train_test_split(data_to_analyze, test_size=0.25, random_state=60616, stratify = data['CAR_USE'])

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,TIF,CAR_TYPE,RED_CAR,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,URBANICITY,CLM_COUNT,EXPOSURE
0,63581743,0,16-Mar-39,60.0,0,11.0,67000.0,No,NaN,No,...,11,Minivan,yes,No,3,0,18.0,Highly Urban/ Urban,0,0.189
1,132761049,0,21-Jan-56,43.0,0,11.0,91000.0,No,257000.0,No,...,1,Minivan,yes,No,0,0,1.0,Highly Urban/ Urban,0,1.000
2,921317019,0,18-Nov-51,48.0,0,11.0,53000.0,No,NaN,No,...,1,Van,yes,No,2,0,10.0,Highly Urban/ Urban,0,1.000
3,727598473,0,5-Mar-64,35.0,1,10.0,16000.0,No,124000.0,Yes,...,4,SUV,no,No,3,0,10.0,Highly Urban/ Urban,0,0.828
4,450221861,0,5-Jun-48,51.0,0,14.0,NaN,No,306000.0,Yes,...,7,Minivan,yes,No,0,0,6.0,Highly Urban/ Urban,0,0.729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10297,67790126,1,13-Aug-54,45.0,2,9.0,165000.0,No,386000.0,Yes,...,15,Minivan,no,No,2,0,17.0,Highly Urban/ Urban,0,1.000
10298,61970712,0,17-Jun-53,46.0,0,9.0,107000.0,No,333000.0,Yes,...,6,Panel Truck,no,No,0,0,1.0,Highly Urban/ Urban,0,1.000
10299,849208064,0,18-Jun-51,48.0,0,15.0,40000.0,No,171000.0,Yes,...,7,SUV,no,No,0,0,1.0,Highly Urban/ Urban,0,1.000
10300,627828331,0,12-Dec-48,50.0,0,7.0,43000.0,No,149000.0,Yes,...,6,Minivan,no,No,0,0,11.0,Highly Urban/ Urban,0,1.000
10301,680381960,0,27-Feb-47,52.0,0,11.0,53000.0,No,197000.0,Yes,...,6,Minivan,no,No,0,0,9.0,Highly Rural/ Rural,0,1.000

## Cleaning