In [24]:
import os

In [25]:
#os.chdir('/Users/anurag_chandra/Downloads')

In [26]:
pwd

'C:\\Users\\Iconsense\\abhishek\\taxi\\prDataSets\\holidays'

In [27]:
cd "C:/Users/Iconsense/abhishek/taxi/prDataSets/holidays"

C:\Users\Iconsense\abhishek\taxi\prDataSets\holidays

In [28]:
# Loading the Holidays data

import pandas as pd
df = pd.read_csv('holidays_data.csv')

In [29]:
# Checking the starting and ending dates of Holidays data

df.head()
df.tail()

       route        date daytype  rides
845350   X98  12/23/2019       W      1
845351   X98  12/26/2019       W     17
845352   X98  12/27/2019       W     18
845353   X98  12/28/2019       A      1
845354   X98  12/30/2019       W     14

In [30]:
df['date'] = pd.to_datetime(df['date'])

In [31]:
# We require only the dates staring from year 2017 and ending at year 2019. So the remaining all dates can be dropped 
# from the table

mask = (df['date'] > '2017-01-01') & (df['date'] <= '2019-12-30')
df = df.loc[mask]

In [32]:
# Check for missing values

(df.isna()).sum()

route      0
date       0
daytype    0
rides      0
dtype: int64

In [33]:
# The columns route and rides are irrelevant and hence they can be dropped

df = df.drop(columns=['route','rides'])   
df

             date daytype
719025 2017-02-23       W
719026 2017-03-22       W
719027 2017-02-08       W
719028 2017-03-30       W
719029 2017-01-03       W
...           ...     ...
845350 2019-12-23       W
845351 2019-12-26       W
845352 2019-12-27       W
845353 2019-12-28       A
845354 2019-12-30       W

[126121 rows x 2 columns]

In [34]:
# Sorting the dataframe by order of dates

df = df.sort_values(by='date')

In [35]:
# All the duplicates of date column can be dropped as we need only one value of a particular date

data = df.drop_duplicates()
data

             date daytype
726318 2017-01-02       U
726952 2017-01-03       W
727959 2017-01-04       W
728441 2017-01-05       W
726697 2017-01-06       W
...           ...     ...
842397 2019-12-26       W
844965 2019-12-27       W
843335 2019-12-28       A
842805 2019-12-29       U
842303 2019-12-30       W

[1093 rows x 2 columns]

In [36]:
holidays_2017 = ['2017-01-16','2017-02-13','2017-02-20','2017-03-06','2017-05-29',
                 '2017-07-04','2017-09-04','2017-11-23','2017-11-24','2017-12-25']

# This is the list of public holidays for calendar year 2017 which is not mentioned in dataset, so we convert these 
# dates to holidays i.e 'U' 
# These holidays include Martin Luther King Jr. day, Spring Break, Thanksgiving days, Labour day and other significant
# holidays

In [37]:
for x in holidays_2017 :
    
    data.loc[data['date'] == x, 'daytype'] = 'U'

# Replace the weekdays of daytime column with "U" instead of "W" indicating a public holiday of year 2017

C:\Users\Iconsense\Anaconda3\envs\abhishek\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [38]:
holidays_2018 = ['2018-01-15','2018-02-12','2018-02-19','2018-03-05','2018-05-28', 
                 '2018-07-04','2018-09-03','2018-11-06','2018-11-22','2018-11-23','2018-12-25']

# List of public holidays for calendar year 2018

In [39]:
for y in holidays_2018 :
    
    data.loc[data['date'] == y, 'daytype'] = 'U'

# Replace the public holidays of year 2018 with "U" instead of "W"

In [40]:
holidays_2019 = ['2019-01-21','2019-02-12','2019-02-18','2019-03-04','2019-05-27',
                 '2019-07-04','2019-09-02','2019-11-28','2019-11-29','2019-12-25']

# List of public holidays for calendar year 2019

In [41]:
for z in holidays_2019 :
    
    data.loc[data['date'] == z, 'daytype'] = 'U'

# Replace the public holidays of year 2019 with "U" instead of "W"

In [42]:
data[data['date'] == '2018-12-25']  # Checking whether Christmas Eve 2018 is given as 'U' or 'W'

             date daytype
801368 2018-12-25       U

In [43]:
# This is the cleaned Holidays data which indicates all public holidays and sundays as "U", saturdays as "A" and
# weekdays as "W"

data.set_index('date')

           daytype
date
2017-01-02       U
2017-01-03       W
2017-01-04       W
2017-01-05       W
2017-01-06       W
...            ...
2019-12-26       W
2019-12-27       W
2019-12-28       A
2019-12-29       U
2019-12-30       W

[1093 rows x 1 columns]

In [44]:
df.isnull().sum()

date       0
daytype    0
dtype: int64

In [45]:
len(data)

1093