In [66]:
import numpy as np

In [67]:
cd "C:/Users/Iconsense/abhishek/taxi"

C:\Users\Iconsense\abhishek\taxi

In [68]:
import pandas as pd
df = pd.read_csv('traning_data_after_normalization.csv')
df.drop(columns="Unnamed: 0",inplace=True)

### Orignal Col

In [47]:
# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 1920149 entries, 0 to 1920148
# Data columns (total 21 columns):
#  #   Column                         Dtype   
# ---  ------                         -----   
#  0   pickup_community_area          category
#  1   Trips                          int64   
#  2   temperature                    float64 
#  3   relative_humidity              float64 
#  4   wind_direction                 float64 
#  5   wind_speed                     float64 
#  6   precipitation                  float64 
#  7   daytype                        category
#  8   sky_level                      float64 
#  9   Day Name                       category
#  10  Month                          category
#  11  Hour                           category
#  12  Quarter                        category
#  13  Fare Last Month                float64 
#  14  Tips Last Month                float64 
#  15  Trips Last Hour                int64   
#  16  Trips Last Week (Same Hour)    int64   
#  17  Trips 2 Weeks Ago (Same Hour)  int64   
#  18  weekofyear                     category
#  19  day                            category
#  20  year                           int64

In [69]:
float64=['Fare Last Month','Trips Last Week (Same Hour)','Trips Last Hour','Tips Last Month',"Trips 2 Weeks Ago (Same Hour)",'temperature','relative_humidity','wind_direction','wind_speed','precipitation']

df[float64]=df[float64].astype('float32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920149 entries, 0 to 1920148
Columns: 220 entries, Trips to year_2019
dtypes: float32(10), int64(210)
memory usage: 3.1 GB

In [70]:
df.head()

,Trips,Fare Last Month,Trips Last Week (Same Hour),Trips Last Hour,Tips Last Month,Trips 2 Weeks Ago (Same Hour),temperature,relative_humidity,wind_direction,wind_speed,...,Day Name_Monday,Day Name_Saturday,Day Name_Sunday,Day Name_Thursday,Day Name_Tuesday,Day Name_Wednesday,daytype_U,daytype_W,year_2018,year_2019
0,1,0.034245,0.007905,0.013834,0.013012,0.003953,0.442132,0.753902,0.361111,0.121212,...,1,0,0,0,0,0,1,0,0,0
1,0,0.038901,0.005929,0.001976,0.010727,0.003953,0.442132,0.753902,0.361111,0.121212,...,1,0,0,0,0,0,1,0,0,0
2,4,0.069687,0.005929,0.015810,0.031256,0.007905,0.442132,0.753902,0.361111,0.121212,...,1,0,0,0,0,0,1,0,0,0
3,3,0.049926,0.009881,0.000000,0.022218,0.005929,0.442132,0.753902,0.361111,0.121212,...,1,0,0,0,0,0,1,0,0,0
4,2,0.035350,0.001976,0.003953,0.016048,0.001976,0.442132,0.753902,0.361111,0.121212,...,1,0,0,0,0,0,1,0,0,0

In [74]:
df.fillna(df.median(),inplace=True)

y=df[['Trips']]

x=df.drop(columns='Trips',axis=1)

y=np.array(y)

y=y.ravel()

y.shape

x=np.array(x)

from sklearn.model_selection import train_test_split

train_features, test_features, train_labels, test_labels = train_test_split(x, y, test_size = 0.25)

train_features.shape

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (1440111, 219)
Training Labels Shape: (1440111,)
Testing Features Shape: (480038, 219)
Testing Labels Shape: (480038,)

In [75]:
from sklearn.linear_model import LinearRegression

In [77]:
reg = LinearRegression().fit(x, y)

In [79]:
reg.score(x, y)

0.9411143314395977