In [1]:
import os, sys
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import importlib.util


# Get current path from where script is executed
if os.name == 'nt':
    sep = '\\'
elif os.name == 'posix':
    sep = '/'
else:
    print(f'What is this OS? {os.name}')

path = os.getcwd()
path_datasets = path[:-len(f'Code{sep}src{sep}project_CSP_MATH_571')] + f'DataSets{sep}weather{sep}'


#MapGenerator Lib
path_maps = path + f'{sep}mapGeneration{sep}mapGeneration.py'
spec = importlib.util.spec_from_file_location("mapGeneration", path_maps)
mp = importlib.util.module_from_spec(spec)
spec.loader.exec_module(mp)

### Load Data

In [2]:
# Read csv
datasets = os.listdir(path_datasets)

df_list = []
for dataset in datasets:
    if dataset[-4:] == '.csv':
        df = pd.read_csv(path_datasets + dataset, index_col=None, header=0)
        df_list.append(df)


# Merge Taxis Data
df = pd.concat(df_list, axis=0, ignore_index=True)

del(df_list)

df.head()

  station             valid   tmpf   relh    drct  sknt  p01m skyc1
0     ORD  2017-01-01 00:51  23.00  84.39  250.00  4.00  0.00   CLR
1     ORD  2017-01-01 01:51  21.00  84.62    0.00  0.00  0.00   CLR
2     ORD  2017-01-01 02:51  21.00  87.97  210.00  4.00  0.00   CLR
3     ORD  2017-01-01 03:51  19.00  87.87  190.00  5.00  0.00   CLR
4     ORD  2017-01-01 04:51  21.00  87.97  200.00  4.00  0.00   CLR

In [3]:
df.shape

(34278, 8)